html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  height: 100vh;
}

#panel {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  z-index: 1000;
}

#panel div {
  margin-bottom: 5px;
}

#floorSwitcher {
  margin-top: 8px;
}

#floorSwitcher button {
  margin-right: 5px;
  cursor: pointer;
}
